.jumbotron {
  background-image: url("./books.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  height: 20rem; 
  clear: both; 
  padding-top: 6rem; 
  text-align: center; 
}