.card-img {
  width: 128px;
  height: 192px;
}

.card-main {
  display: flex;
}

@media screen and (max-width: 768px) {
  .card-main {
    display: block;
  }

  .card-img {
    float: right;
    margin-left: 1rem;
  }
}