.card-img {
  width: 128px;
  height: 192px;
}

.card-img.search {
  margin-left: 1rem;
}

.card-main {
  display: flex;
}

.btn {
  border: 1px solid gray;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  .card-main {
    display: block;
  }

  .card-img {
    float: right;
    margin-left: 1rem;
  }

  .buttons {
    display: block;
    justify-content: unset;
  }

  h3.search, small.search {
    margin-left: unset;
  }
}